<div class="text-center">
  <h1>Projetos</h1>
</div>

<div class="cards container-fluid">
  <div class="row">

    <div class="col-10 col-sm-4 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="card_image-container">
            <a href="https://www.cgmmaridodealuguel.com.br/" target="_blank">
              <img class="card-img-top" src="../../../assets/cgm.PNG" alt="Image">
            </a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">CGM | Marido de Aluguel</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="card-link">github</a> -->
        </div>
        <div></div>
      </div>
    </div>

  </div>
</div>