@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap";

:root {
  --color-green: #50fa7b;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #282a36;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}


/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width:0px;
  height: 100vh;
  }